$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #03A1FF;
$secondary_paletteKeyColor: #6B7798;
$tertiary_paletteKeyColor: #7272A5;
$neutral_paletteKeyColor: #717882;
$neutral_variant_paletteKeyColor: #6F7884;
$background: #0D141B;
$onBackground: #DCE3EE;
$surface: #0D141B;
$surfaceDim: #0D141B;
$surfaceBright: #333A42;
$surfaceContainerLowest: #080F16;
$surfaceContainerLow: #151C24;
$surfaceContainer: #192028;
$surfaceContainerHigh: #242B33;
$surfaceContainerHighest: #2E353E;
$onSurface: #DCE3EE;
$surfaceVariant: #3F4852;
$onSurfaceVariant: #BEC7D4;
$inverseSurface: #DCE3EE;
$inverseOnSurface: #2A3139;
$outline: #88919E;
$outlineVariant: #3F4852;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #9ACBFF;
$primary: #9ACBFF;
$onPrimary: #003355;
$primaryContainer: #004A79;
$onPrimaryContainer: #CFE5FF;
$inversePrimary: #00629E;
$secondary: #BAC6EA;
$onSecondary: #23304D;
$secondaryContainer: #3C4967;
$onSecondaryContainer: #DBE3FF;
$tertiary: #C2C1F9;
$onTertiary: #2B2B59;
$tertiaryContainer: #8C8CC0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #CFE5FF;
$primaryFixedDim: #9ACBFF;
$onPrimaryFixed: #001D34;
$onPrimaryFixedVariant: #004A79;
$secondaryFixed: #D9E2FF;
$secondaryFixedDim: #BAC6EA;
$onSecondaryFixed: #0D1B37;
$onSecondaryFixedVariant: #3A4664;
$tertiaryFixed: #E2DFFF;
$tertiaryFixedDim: #C2C1F9;
$onTertiaryFixed: #161543;
$onTertiaryFixedVariant: #424271;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #121B25;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #75FCDD;
$term4: #84B0CF;
$term5: #90A8EE;
$term6: #8DD2F4;
$term7: #CCDBD5;
$term8: #C3B5C0;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C5DFF3;
$term13: #CFD8FF;
$term14: #F6FBFF;
$term15: #CFE5FF;
