$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FD5200;
$secondary_paletteKeyColor: #996D4E;
$tertiary_paletteKeyColor: #9A6F34;
$neutral_paletteKeyColor: #88726B;
$neutral_variant_paletteKeyColor: #8C7169;
$background: #1E100B;
$onBackground: #F9DDD4;
$surface: #1E100B;
$surfaceDim: #1E100B;
$surfaceBright: #47352F;
$surfaceContainerLowest: #180B07;
$surfaceContainerLow: #271813;
$surfaceContainer: #2B1C17;
$surfaceContainerHigh: #362621;
$surfaceContainerHighest: #42312B;
$onSurface: #F9DDD4;
$surfaceVariant: #58423A;
$onSurfaceVariant: #DFC0B6;
$inverseSurface: #F9DDD4;
$inverseOnSurface: #3D2C27;
$outline: #A78B82;
$outlineVariant: #58423A;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB59D;
$primary: #FFB59D;
$onPrimary: #5D1900;
$primaryContainer: #832600;
$onPrimaryContainer: #FFDBD0;
$inversePrimary: #AB3500;
$secondary: #F1BC97;
$onSecondary: #49280E;
$secondaryContainer: #633E22;
$onSecondaryContainer: #FFDCC5;
$tertiary: #F2BD7A;
$onTertiary: #462A00;
$tertiaryContainer: #B7884B;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDBD0;
$primaryFixedDim: #FFB59D;
$onPrimaryFixed: #390C00;
$onPrimaryFixedVariant: #832600;
$secondaryFixed: #FFDCC5;
$secondaryFixedDim: #F1BC97;
$onSecondaryFixed: #301400;
$onSecondaryFixedVariant: #633E22;
$tertiaryFixed: #FFDDB6;
$tertiaryFixedDim: #F2BD7A;
$onTertiaryFixed: #2A1800;
$onTertiaryFixedVariant: #633F06;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
