$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FE00C1;
$secondary_paletteKeyColor: #996A79;
$tertiary_paletteKeyColor: #A7646B;
$neutral_paletteKeyColor: #84727A;
$neutral_variant_paletteKeyColor: #86717B;
$background: #1B1016;
$onBackground: #F3DDE6;
$surface: #1B1016;
$surfaceDim: #1B1016;
$surfaceBright: #43353C;
$surfaceContainerLowest: #160B11;
$surfaceContainerLow: #24181E;
$surfaceContainer: #281C22;
$surfaceContainerHigh: #33262D;
$surfaceContainerHighest: #3F3138;
$onSurface: #F3DDE6;
$surfaceVariant: #54424B;
$onSurfaceVariant: #D9C0CB;
$inverseSurface: #F3DDE6;
$inverseOnSurface: #3A2D33;
$outline: #A18B95;
$outlineVariant: #54424B;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFAEDA;
$primary: #FFAEDA;
$onPrimary: #610047;
$primaryContainer: #890066;
$onPrimaryContainer: #FFD8EA;
$inversePrimary: #B20086;
$secondary: #EFB8C8;
$onSecondary: #4A2532;
$secondaryContainer: #663D4B;
$onSecondaryContainer: #FFDBE4;
$tertiary: #FFB2B9;
$onTertiary: #532027;
$tertiaryContainer: #C47D84;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFD8EA;
$primaryFixedDim: #FFAEDA;
$onPrimaryFixed: #3C002B;
$onPrimaryFixedVariant: #890066;
$secondaryFixed: #FFD9E3;
$secondaryFixedDim: #EFB8C8;
$onSecondaryFixed: #31101D;
$onSecondaryFixedVariant: #633B48;
$tertiaryFixed: #FFDADC;
$tertiaryFixedDim: #FFB2B9;
$onTertiaryFixed: #380B13;
$onTertiaryFixedVariant: #6E353D;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
